@page "/"

<h1>GHAS .NET / Blazor Playground</h1>

<p>
  This app is intentionally insecure for training. See <code>README.md</code>.
</p>

<p>
  Try the demos:
  <ul>
    <li><a href="xss-demo?msg=%3Cimg%20src%3Dx%20onerror%3Dalert(1)%3E">XSS Demo</a></li>
    <li><a href="links?next=https://example.com">Redirect Demo</a></li>
  </ul>
</p>
